# Created by https://www.toptal.com/developers/gitignore/api/python,dotenv,direnv,macos,linux,windows
# Edit at https://www.toptal.com/developers/gitignore/api/python,dotenv,direnv,macos,linux,windows


__pycache__/
__pypackages__/
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!*.svg  # comment out if you don't need vector files
!/tests/_output/.gitkeep
!copilot/environments
._*
._zinit
.*.cfg
.*.swp
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.archive/
.aws-sam/
.cache
.cache/
.cdk.staging/
.chalice/deployed/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.directory_history
.direnv
.dmypy.json
.DocumentRevisions-V100
.docusaurus
.DS_Store
.dynamodb/
.eggs/
.env
.env.*
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.history
.history/
.hypothesis/
.idea
.idea_modules/
.idea/
.idea/$CACHE_FILE$
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea/**/aws.xml
.idea/**/azureSettings.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.installed.cfg
.ionide
.ipynb_checkpoints
.lock-wscript
.LSOverride
.mypy_cache/
.netrwhist
.next
.nfs*
.node_modules
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.parcel-cache
.pdm.toml
.pnp.*
.pnpm-debug.log*
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.ropeproject/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.ruff_cache/
.rumdl_cache
.sass-cache/
.scrapy
.serverless/
.Spotlight-V100
.spyderproject
.spyproject
.stylelintcache
.temp
.TemporaryItems
.tern-port
.terraformrc
.tox/
.Trash-*
.Trashes
.venv
.venv/
.VolumeIcon.icns
.vscode
.vscode-test
.vscode/
.vscode/*
.vuepress/dist
.webassets-cache
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.zcalc_history
.zinit_lstupd
.zsh_history
.zsh_sessions
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
*_override.tf
*_override.tf.json
*,cover
*.box
*.cab
*.cover
*.css.map
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.egg-info/
*.icloud
*.lcov
*.lnk
*.log
*.manifest
*.mo
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.pkrvars.hcl
*.pot
*.py,cover
*.py[cod]
*.pyc
*.pyo
*.sage.py
*.sass.map
*.scss.map
*.seed
*.so
*.spec
*.stackdump
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tgz
*.tmp*
*.tsbuildinfo
**/.terraform/*
*/.ipynb_checkpoints/*
*~
*$py.class
/data
*.iws
*.vsix
*.zwc
*.zwc.old
*zcompdump*
/site
*.env
/build
/tests/_output/*
$RECYCLE.BIN/
atlassian-ide-plugin.xml
bin/
bower_components
build/
build/Release
cdk.out/
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage
coverage.xml
crash.*.log
crash.log
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
ehthumbs_vista.db
ehthumbs.db
env.bak/
env/
ENV/
environments/*.env
fabric.properties
fake-eggs/
htmlcov/
Icon
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
MANIFEST
Network Trash Folder
node_modules/
nosetests.xml
npm-debug.log*
out
out/
override.tf
override.tf.json
packer_cache/
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
poetry.toml
profile_default/
pyrightconfig.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
Session.vim
Sessionx.vim
share/python-wheels/
tags
target/
Temporary Items
terraform.rc
Thumbs.db
Thumbs.db:encryptable
var/
venv.bak/
venv/
volumes/
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*
zsdoc/data


# Project Specific Ignores
packages/secrets
